<?xml version="1.0" encoding="UTF-8"?>

<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation=" 
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd 
        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd 
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd 
        http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.8.xsd"
	default-lazy-init="true">

	<bean
		id="jarxrs.component"
		class="com.github.nest.goose.restlet.jaxrs.ServletComponent"
		p:apiContentPath="api"> <!-- default is "api", just a sample -->
		<property name="scanners">
			<list>
				<bean
					class="com.github.nest.goose.restlet.jaxrs.ApplicationResourceScanner"
					p:module="quelea"
					p:version="v1" />
			</list>
		</property>
	</bean>

	<bean
		class="com.github.nest.goose.restlet.jaxrs.Application"
		p:objectFactory-ref="jarxrs.objectFactory">
		<!-- <property name="filters"> </property> -->
	</bean>

	<bean
		id="jarxrs.objectFactory"
		class="com.github.nest.goose.restlet.jaxrs.SpringObjectFactory" />

	<!-- scan resources -->
	<!-- restful resources -->
	<context:component-scan base-package="com.github.nest.quelea.web">
		<context:include-filter
			type="annotation"
			expression="com.github.nest.goose.restlet.jaxrs.JaxRSResource" />
		<!-- add providers -->
		<!-- <context:include-filter type="annotation" expression="javax.ws.rs.ext.Provider" 
			/> -->
	</context:component-scan>
	<!-- providers -->
	<context:component-scan base-package="com.github.nest.goose.restlet.jaxrs">
		<context:include-filter
			type="annotation"
			expression="javax.ws.rs.ext.Provider" />
	</context:component-scan>


</beans>